<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dojo Survey form</title>
        <meta charset="UTF-8">
        <!-- <link rel="stylesheet" href="static/DojoSurvey.css" type="text/css"> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DojoSurvey.css') }}">
    </head>
    <body>
        <form action='/results' method='post'>
            <p>Your Name: <input type='text' name='name'></p>
            <p>Dojo Location: 
                <select name="location">
                    <option value="San Jose">San Jose</option>
                    <option value="Seattle">Seattle</option>
                    <option value="Dalas">Dalas</option>
                </select>
            </p>
            <p>Favorite Language:  
                <select name="lang">
                    <option value="JavaScript">JavaScript</option>
                    <option value="Python">Python</option>
                    <option value="Ruby">Ruby</option>
                </select>
            </p>
            <p>Comments (optional):</p>
            <textarea name="comment"></textarea>
            <input id="button" type='submit' value='Button'>
        </form>
    </body>
</html>